body{
    background-image: url('../img/bg-intro-mobile.png');
    background-color: hsl(0, 100%, 74%) ;
    font-family: 'Poppins', sans-serif;
}

.description{
    text-align: center;

}

main section h1{
    padding: 64px 0 32px;
    font-weight: 700;
    color: white;
    font-size: 32px;
}

.description__p{
    color: rgb(211, 210, 210);
    font-size: 16px;
    margin: 0 15px 55px;
}

.secao__formulario{
    display: flex;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
}

.button__wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.div__button__trial{
    width: 90%;
    height: 58px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px #d76969;
}

span{
    color: rgb(211, 210, 210);
}

.formulario{
    display: flex;
    justify-content: center;
    width: 80%;
    height: fit-content;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px #d94e4e;
}

.input{
    width: 292px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
}

input::placeholder{
    font-weight: bold;
    color: hsl(249, 10%, 26%);
    padding-left: 15px;
}

button[type="submit"]{
    width: 292px;
    height: 52px;
    background-color: hsl(154, 59%, 51%);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 4px #7a997a;
}

button[type="submit"]:hover{
   transform: scale(1.1);
   transition: 0.5s ease;
}

.secao__formulario-p{
    font-size: 12px;
    color: rgb(211, 210, 210);
    padding: 20px 0;
    text-align:center;
}

@media (min-width: 1366px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 0; */
        justify-content: center;
        align-items: center;
    }

    .description{
        text-align: start;
        flex-wrap: wrap;
        margin-right: 40px;
        margin-left: 121px;
    }

    .description__p{
        margin: 0 0 55px;
    }
    
    .secao__button-wrapper_and_formulario{
        align-items: center;
    }
    .button__wrapper{
        grid-row: 0;
    } 
    
    .secao__formulario{
        grid-column: span 1;
        grid-row: 0;
    } 

    input{
        display: block;
    }
}
